/*Обнуление*/
*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-width: 320px;
}

body{
	line-height: 1;
	font-family: 'PT Sans', sans-serif;
	background: #fbfbfb;
}

a {
	text-decoration: none;
}


.button {
	width: 260px;
	height: 50px;
	border-radius: 50px;
	background-color: #0066FF;
	color: #ffffff;
	font-family: 'Puritan', sans-serif;
	font-weight: bold;
	font-size: 24px;
	box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
}

.title {
	font-family: 'Puritan', sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
}


.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* Header */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	min-height: 152px;
}

.header__logo {
	margin-right: auto;
}

.header__logo img {
	width: 200px;
}
.header__contacts {
}
.contacts__contact {
	margin-bottom: 10px;
}
.contacts__link {
	color: #000000;
}

/* .header {
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: space-between;
	padding: 60px 50px;
	align-items: center;
	position: absolute;
}

.header-link {
	
}

.header-link-logo {
	width: 200px;
}

.header-contacts p {
	margin-bottom: 10px;
}

.header-contacts a {
	color: black;
} */

/* Main */

.main {
	flex: 1 1 auto;
	background: #fbfbfb;
}

.main-title {
	margin: 0 auto;
	padding-top: 160px;
	margin-bottom: 50px;
	height: 100%;
	width: 100%;
	text-align: center;
	background: url('/images/Background-1.jpg') 0 0/100% auto no-repeat;
}
.main-title-text {
	font-size: 60px;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 60px;
	text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 400;
}

.main-title-button {
	margin-bottom: 150px;
}



.button:hover {
	background-color: #03A7D3;
}

/* About */

.main-about {
	width: 100%;
	height: 100%;
	padding: 50px;
	background: url('/images/image-about-the-company.png') no-repeat;
	position: relative;
}

.about-title {
	font-family: 'Puritan', sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.about-description {
	font-size: 32px;
	width: 700px;
	text-align: start;
	line-height: 1.2;
	margin: 0 auto;
}

/* Advantages */

.main-advantages {
	width: 100%;
	height: 100%;
	background: rgb(2,176,248);
	background: linear-gradient(180deg, rgba(2,176,248,1) 0%, rgba(251,251,251,1) 100%);
	margin-bottom: 80px;
	padding: 50px 0;
}


.main-advantages-grid {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 60px;
	margin-bottom: 80px;
}

.main-advantages-grid-item {
	text-align: center;
	width: 350px;
}

.main-advantages-grid-item img {
	width: 150px;
	margin-bottom: 20px;
}

.main-advantages-grid-item p {
	font-size: 22px;
}

.main-advantages-delivery {
	color: red;
	font-style: italic;
	font-size: 28px;
	margin-left: 50px;
}

/* Products */


.main-products {
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}

.main-products-grid {
	width: 800px;
	margin: 0 auto;
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr; 
	gap: 40px 40px; 
	grid-template-areas: 
		". . ."
		". . ."
		". . ."; 
}

.main-products-grid-item {
	text-align: center;
}

.main-products-grid-item img {
	width: 150px;
	margin-bottom: 10px;
}

.main-products-grid-item p {
	font-size: 18px;
}

/* Steps */

.main-steps {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 150px;
}

.main-steps-grid {
	width: 1000px;
	margin: 0 auto;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas: 
    "first . second . ."
    ". third . fourth ."
    ". . fifth . sixth"; 
	margin-bottom: 70px;
}

.second { grid-area: second; }
.first { grid-area: first; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }
.sixth { grid-area: sixth; }

.main-steps-grid-item {
	width: 200px;
}

.main-steps-grid-item p {
	text-align: center;
	font-size: 20px;
	line-height: 1.2;
}

.image-step {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(180.27deg, #0066FF 0.23%, rgba(217, 217, 217, 0) 99.77%);
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;

}

.image-step img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: 'center';
	width: 70px;
}

/* Questions */

.main-questions {
	width: 100%;
	height: 750px;
}

.main-questions-title {
	margin-bottom: 350px;
}


.question-container {
	position: relative;
}

.question-container-background {
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: 'center';
	z-index: 1;
}

.questions {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: 'center';
}

.question {
	margin: 0 auto;
	width: 900px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border: 3px solid #0066FF;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 5px;
	text-align: center;
	align-items: center;
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	background: #fbfbfb;
}

.question p {
	font-size: 20px;
	margin-left: 15px;
}


.question img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

/* Reviews */


.main-reviews {
	width: 100%;
	height: 100%;
	padding: 40px 0;
}

.reviews-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-reviews-title {
	margin-bottom: 80px;
}

.arrow-left img {
	width: 200px;
}
.review img {
	width: 600px;
}
.arrow-right img {
	width: 200px;
}


/* Footer */


.footer {
	width: 100%;
	height: 100%;
	padding-top: 120px;
	background: url('/images/Background-2.jpg') 0 0/cover no-repeat;
}
.footer__container {
}

.footer-title {

}


.footer__form-container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.footer__form-title {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 60px;
}


.footer__form-input {
	width: 350px;
	height: 40px;
	border: 1px solid rgba(0, 102, 255, 1);
	display: block;
	margin: 0 auto;
	border-radius: 30px;
	margin-bottom: 30px;
	padding-left: 20px;
}

.footer__form-input:nth-child(2) {
	margin-bottom: 70px;
}

.footer-button {
	margin: 0 auto;
}

.footer__footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-item-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
}

.footer-item-contacts {

}
.footer-item-social {

}

.footer-item-logo {
	width: 150px;
}

.footer__contact {
	margin-bottom: 10px;
}
.contacts__link {
}
.contacts__contact {
}
.footer__social {
	margin: 0 auto;
	text-align: center;
}
.footer__social-logo {
	width: 50px;
	margin-left: 15px;
	margin-right: 15px;
}
.footer__address {
	margin-top: 20px;
}

